* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: sans-serif;
}

/** Tabla de Schedules*/

table.scheduleTable {
  border: 2px solid #000000;
  background-color: #ecffdd;
  text-align: center;
  border-collapse: collapse;
}
table.scheduleTable td,
table.scheduleTable th {
  border: 2px solid #aaaaaa;
}
table.scheduleTable tbody td {
  font-size: 13px;
}
table.scheduleTable thead {
  background: #defb43;
  border-bottom: 1px solid #444444;
}
table.scheduleTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

/** Contenido*/
#aditionalInformation {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.additionalInformation {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}


#phoneEmail {
  display: flex;
  gap: 10rem;
}
