* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: sans-serif;
}

/**Sportsmanshap*/
#sportsmanship p {
  text-indent: 2rem;
  margin-top: 1rem;
}

/**IHF Field Regulations */

#ihfFieldRegulations {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: justify;
}

#ihfFieldRegulations ol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#fieldsUsedByYoungAgeGroups {
  list-style-type: lower-alpha;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#fieldsUsedByYoungAgeGroups li {
  margin-bottom: -0.9rem;
}

/** All play*/
#allPlay {
  display: flex;
  flex-direction: column;
}
#allPlay p {
  margin-top: 1rem;
  text-indent: 2rem;
}
#allPlay ul {
  list-style-type: circle;
  margin-left: 4rem;
}

#allPlay ul li {
  text-indent: 1rem;
}
